@using Exam_Management.Models.RequestModels;
@model ExamSessionRequestModel;

<h1>Create a new Exam Session</h1>

<form method="post" asp-controller="ExamSession" asp-action="Create">
    <p>Session Name</p>
    <input type="text" asp-for="SessionName" alt="Session Name" required="required">

    <p>Description</p>
    <input type="text" asp-for="Description" alt="Description" required="required">

    <p>Start Date</p>
    <input type="date" asp-for="StartDate" alt="Start Date">

    <p>End Date</p>
    <input type="date" asp-for="EndDate" alt="End Date">

    <p>Exam Site Id</p>
    <input type="number" asp-for="ExamSiteId" alt="Exam Site Id" required="required">

    <input asp-for="Id" alt="Id" type="hidden" />

    <button type="submit">Create</button>
</form>
<br />

<p>Note that you will require an exam site to create an exam session, so create one of those first if you don't have one.'</p>

<br />
<a href="/ExamSession/Index">Go back</a>