@model string;

<h1>Create a new Exam Session</h1>

@{ 
    if (Model != null)
    {
       <p>@Model</p>
    }
}

<form method="post" asp-controller="ExamSession" asp-action="Create">
    <p>Session Name</p>
    <input type="text" name="SessionName" alt="Session Name" required="required">

    <p>Description</p>
    <input type="text" name="Description" alt="Description" required="required">

    <p>Start Date</p>
    <input type="date" name="StartDate" alt="Start Date">

    <p>End Date</p>
    <input type="date" name="EndDate" alt="End Date">

    <p>Exam Site Id</p>
    <input type="number" name="ExamSiteId" alt="Exam Site Id" required="required">

    <input name="Id" alt="Id" type="hidden" />

    <button type="submit">Create</button>
</form>