@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a>Exam management</a>
</div>

<div class="container">
    <div class="subheadings bg-white border-bottom box-shadow mb-3 jumbotron text-center">
        <a href="/ExamSession/Index">Go to Exam Sessions</a>
    </div>
    <br />
    <div class="bg-white border-bottom box-shadow mb-3 jumbotron text-center">
        <a class="subheadings" href="/ExamSite/Index">Go to Exam Sites</a>
    </div>
</div>