@using Exam_Management.Models.ViewModels
@model ExamSiteViewModel;

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
    </tr>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Code</td>
        <td>@Model.Name</td>
    </tr>
</table>

<form method="post" asp-controller="ExamSite" asp-action="Edit">
    <p>Code</p>
    <input type="number" name="Code" value=@Model.Code alt="Code" required="required">

    <p>Name</p>
    <input type="text" name="Name" value=@Model.Name alt="Name" required="required">

    <input name="Id" value="@Model.Id" alt="Id" type="hidden" />

    <button type="submit">Edit details</button>
</form>


<h4>Delete?</h4>
<br />
<a href="/ExamSite/Delete/@Model.Id">
    <button">DELETE</button>
</a>

<br />
<a href="/ExamSite/Index">Go back</a>