@using Exam_Management.Models.ViewModels;
@model IEnumerable<ExamSiteViewModel>;

<h1>Books</h1>

@{
    if (Model.Count() == 0)
    {
        <div class="">
            <p>There are no Exam sessions</p>
            <br />
            <p>Add a Exam Session below</p>
        </div>
    }
    else
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>View / Edit</th>
            </tr>

            @foreach (var site in Model)
            {
                <tr>
                    <td>@site.Id</td>
                    <td>@site.Code</td>
                    <td>@site.Name</td>
                    <td><a href="/ExamSite/Details/@site.Id"><button>View / Edit</button></a></td>
                </tr>
            }
        </table>
    }
}


<br />
<a href="/ExamSite/CreateSite">Create new Site</a>